.data
.data_old

**/dist
**/node_modules

**/__pycache__

**/.venv
**/*.log

**/*.env

**/fixtures

**/.hypothesis
**/*.egg-info
**/*.egg

**/.DS_Store

CLAUDE.md

/.claude

# Ignore all Markdown files, But keep README.md
AGENTS.md
AGENTS-2.md
CLAUDE.md
!README.md

packages/morpheus/docs/

insomnia.yaml

Makra-Local

**/scratchpad
