/.data

.env


goatscrape


fixtures

**/node_modules

**/.env
**/.pnp.js
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local


/tmp

**/*.log